<!doctype html>
<html>
	<head>
	<title>Angular Test 1</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<link rel="stylesheet" href="css/main.css">
		
	</head>
	<body ng-app="colorApp">
		<div ng-controller="titleCtrl">
			<h1>{{title}}</h1>
		</div>

		<div class="colorpicker" ng-controller="colorCtrl">
			<div><h3>Values</h3>
				<strong>Red Value:</strong> <input ng-model="inner.red">
				<p>&nbsp;{{inner.red}}</p>
				<strong>Green Value:</strong> <input ng-model="inner.green">
				<p>&nbsp;{{inner.green}}</p>
				<strong>Blue Value:</strong> <input ng-model="inner.blue">
				<p>&nbsp;{{inner.blue}}</p>
			</div>
			<br>
			<div><h3>Outer Values</h3>
				<strong>Red Value:</strong> <input ng-model="outer.red">
				<p>&nbsp;{{outer.red}}</p>
				<strong>Green Value:</strong> <input ng-model="outer.green">
				<p>&nbsp;{{outer.green}}</p>
				<strong>Blue Value:</strong> <input ng-model="outer.blue">
				<p>&nbsp;{{outer.blue}}</p>
			</div>
			<br>
			<div id="square" style="background:rgb({{inner.red}},{{inner.green}},{{inner.blue}}); border: 10px solid rgb({{outer.red}},{{outer.green}},{{outer.blue}});"></div>

		</div>
		<p>
		<hr>
		<p>
		<div ng-controller="canvCtrl">
			<div>
				<strong>Active Color</strong>
				<div id="color" class="colorBox"></div>
			</div><div>
				<strong>Selected Color</strong>
				<div id="color2" class="colorBox"></div>
			</div><div>
				<strong>User-Defined Color</strong>
				<div id="color3" class="colorBox"></div>
			</div>
				<br>
				<canvas id="canvas" ng-click="colorClick()" ng-mousemove="colorPick()" width="400" height="400" style="border:1px solid #000000;"></canvas>

			<div><h3>Set a Color</h3>
				<strong>Red Value:</strong> <input ng-model="colorVals.r">
				<p>&nbsp;{{colorVals.r}}</p>
				<strong>Green Value:</strong> <input ng-model="colorVals.g">
				<p>&nbsp;{{colorVals.g}}</p>
				<strong>Blue Value:</strong> <input ng-model="colorVals.b">
				<p>&nbsp;{{colorVals.b}}</p>

				<input type="submit" ng-click="submitVals(colorVals.r, colorVals.g, colorVals.b, 255)" value="Push RBG Values">
				&nbsp;
				<button ng-click="replaceColor(colorA, colorB)">Replace Selected with User-Defined</button>
			</div>
		<!-- <button ng-click="pushVals()">Push Values</button>&nbsp; -->
		<div ng-repeat="image in images">
			<button ng-click="drawTest(image.id)">Draw {{image.name}} &nbsp;</button>
		</div>
		<button ng-click="clear()">Clear</button>&nbsp;
		<button ng-click="allColors()">Find All Colors</button>

		<div id="colorTotal">
			<div id="colorMsg"></div>

			<table>
				<tr ng-repeat="color in allColorVals | orderBy : parseInt">
					<td ng-click="setClicked(color[0], color[1], color[2], color[3])" class="allColorBox" style="background: rgba({{color[0]}}, {{color[1]}}, {{color[2]}}, {{color[3]}}); border:1px solid #000000; color: {{setTextColor(color[0], color[1], color[2])}};">rgba {{color}}</td>
				</tr>
			</table>
		</div>


		</div> <!-- end of canvas controller -->

		<!-- Modules -->
		<script src="scripts/main.js"></script>

    	<!-- Controllers -->
    	<script src="scripts/controllers/FirstController.js"></script>
    	<script src="scripts/controllers/colorCtrl.js"></script>
    	<script src="scripts/controllers/canvCtrl.js"></script>
	</body>
</html>