<!doctype html>
<html>
	<head>
	<title>Angular Test 1</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<link rel="stylesheet" href="css/main.css">
		
	</head>
	<body ng-app="colorApp">
		<div ng-controller="titleCtrl">
			<h1>{{title}}</h1>
		</div>

		<!--
		<div class="colorpicker" ng-controller="colorCtrl">
			<div><h3>Values</h3>
				<strong>Red Value:</strong> <input ng-model="inner.red">
				<p>&nbsp;{{inner.red}}</p>
				<strong>Green Value:</strong> <input ng-model="inner.green">
				<p>&nbsp;{{inner.green}}</p>
				<strong>Blue Value:</strong> <input ng-model="inner.blue">
				<p>&nbsp;{{inner.blue}}</p>
			</div>
			<br>
			<div><h3>Outer Values</h3>
				<strong>Red Value:</strong> <input ng-model="outer.red">
				<p>&nbsp;{{outer.red}}</p>
				<strong>Green Value:</strong> <input ng-model="outer.green">
				<p>&nbsp;{{outer.green}}</p>
				<strong>Blue Value:</strong> <input ng-model="outer.blue">
				<p>&nbsp;{{outer.blue}}</p>
			</div>
			<br>
			<div id="square" style="background:rgb({{inner.red}},{{inner.green}},{{inner.blue}}); border: 10px solid rgb({{outer.red}},{{outer.green}},{{outer.blue}});"></div>

		</div>
		<p>
		<hr>
		<p>
		-->
		<span ng-controller="charCtrl">
		<span ng-controller="canvCtrl">
			<div class="wrapper">
			<div class="idk">
			<canvas id="canvas" ng-click="colorClick()" ng-mousemove="colorPick()"></canvas></div>
				<div class="colorMenu">
					<strong>Active Color</strong>
					<div id="color" class="colorBox"></div>
					<strong>Selected Color</strong>
					<div id="color2" class="colorBox"></div>
					<strong>User-Defined Color</strong>
					<div id="color3" class="colorBox" style="background-color:rgba({{colorVals.r}}, {{colorVals.g}}, {{colorVals.b}}, 255)">rgba({{colorVals.r}}, {{colorVals.g}}, {{colorVals.b}}, 255)
						<div id="userVals"></div>
						
						<input type=checkbox ng-model=collapse></input>
						<div ng-show=collapse>
							<p><strong>Red:</strong> <input  ng-model="colorVals.r">
							<strong>Green:</strong> <input ng-model="colorVals.g">
							<strong>Blue:</strong> <input ng-model="colorVals.b"></p>
						</div>
					</div>
				</div>
				
			</div>

			<div class="why">
				<button ng-click="replaceColor(colorA, colorB)">Replace Selected with User-Defined</button>
			</div>

		
				

			
		<!-- <button ng-click="pushVals()">Push Values</button>&nbsp; -->
		<select ng-model="selectedChar" ng-options="image.name for image in images"></select>
		<button ng-click="drawTest(selectedChar.id)">Draw {{selectedChar.name}}</button>&nbsp;
		<button ng-click="clear()">Clear</button>&nbsp;

		<span ng-controller="dragCtrl">
			<div id="colorTotal">
				<div id="colorMsg"></div>

				<div class="notTable">
					<span ng-repeat="color in allColorVals | orderBy : parseInt">
						<my-draggable>rgba {{color}}</my-draggable>
					</span>
				</div>
			</div>

		<my-droppable></my-droppable>


		</span> <!-- end of dragdrop controller -->

		</span> <!-- end of canvas controller -->

		</span> <!-- end of character controller -->

		<!-- Modules -->
		<script src="scripts/main.js"></script>

		<!-- Directives -->
		<script src="scripts/directives/draggable.js"></script>
		<script src="scripts/directives/droppable.js"></script>
    	<!-- Controllers -->
    	<script src="scripts/controllers/FirstController.js"></script>
    	<script src="scripts/controllers/colorCtrl.js"></script>
    	<script src="scripts/controllers/charCtrl.js"></script>
    	<script src="scripts/controllers/canvCtrl.js"></script>
    	<script src="scripts/controllers/dragCtrl.js"></script>
	</body>
</html>