.colorpicker{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.colorBox{
	border: 1px solid #000;
	font-family: "Consolas", monospace;
	font-style: bold;
	height:50px;
	padding:10px;
}

.seriously{
	border: 1px solid black;
	cursor:pointer;
    font-family: "Consolas", monospace;
    height:25px;
    width:200px;
    text-align:center;
    margin:2px;
}

.dropTest{
	height:300px;
	width:300px;
	border: 5px solid black;
}

#square{
	height:250px;
	width:250px;
}

#canvas{
	float:right;
}